*{
    background-color:blanchedalmond;
    text-decoration: underline;
}
h2{
    color:brown;
    font-size:30px;;
    background-color: yellowgreen;
}
.p3{
    color:blue;
    background-color: aquamarine;
}
#p4{
    color:blue;
    background-color:black;
}